header {
  background-color: #232D36;
  padding: 1%;
  }
  
  main {
    flex: 8;
  }
  
  footer {
    flex: 1;
  }
  footer li{
    display: flex;
    flex-direction: row;
  }

  
  h1 {
    color: #9DA2A8;
    font-size: 2rem;
    text-align: center;
  }
  