.listaMenu{  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
}


  .listaMenu a:hover:not(.active) {
    text-decoration: underline;
  }

  .listaMenu li a{
    color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
  }

  .listaMenu li a.active  {
    color: #cda700;
    font-weight: bolder;
  }

  .listaMenu ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: -webkit-fill-available;
    margin: 0 10%;
    gap: 20px;
  }

  .listaMenu h3{
    color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
  }

  .listaMenu button a{
    background-color: #e17d00;
   border-radius: 3px;
   border: 2px solid #e17d00;
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   padding: 2px;
   color: #f2f2f2;
  }
