.ajuda{
    grid-row: 1/1;
    background-color: #f2f2f2;
    padding: 3%;
    font-family: roboto;  
  }

    .ajuda h1{
      text-align: center;
      background-color: #f2f2f2;
      margin-bottom: 10px;
    }
    .ajuda div:nth-child(even) {
      background-color:lightgray;
    }

    .ajuda dt{
      font-size: 18px;
      margin-bottom: 2px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .ajuda dl{
      font-size: 15px;
      margin-bottom: 1%;
    }

    .ajuda dt, dl{
      text-align: left;
    }
    
    .ajuda div:nth-child(-n+4) {
      margin-bottom: 20px;
    }
