@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600&family=PT+Sans&family=Poppins:wght@200;300;400;600;700&family=Roboto:wght@100;400;900&display=swap');

 /* reset CSS*/
 *, 
 *:after,
 *:before {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     outline: none;
     border: none;
     text-decoration: none;
     list-style: none;
 }

 *:-webkit-any(*)
 

html {
  height: 100%;
}

body {
  height: 100%;
  color: #232D36;
  margin: auto;
}

.ContainerSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  text-align: center;
  padding: 3%;
}

button{
  /* background-color: #4e0a00;*/
   background-color: #e17d00;
   border-radius: 3px;
   border: 2px solid #e17d00;
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   padding: 2px;
   color: #f2f2f2/*#253C59*/;
   box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
 }

 button:hover{
   background-color: #c06f0b;
   color:#f2f2f2;
 }

