@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600&family=PT+Sans&family=Poppins:wght@200;300;400;600;700&family=Roboto:wght@100;400;900&display=swap');

.tela-login {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  .tela-login, section{
    background-color: #050618;
  }

  .form-login{
    display: contents;
  }


  .containerLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 3%;
    margin: 1%;
    border-radius: 5px;
    border: 2px solid #f2f5f7;
    background-color: #dfdddd;
    box-shadow: 2px 2px 2px 1px #02030c;
  }



  .containerLogin h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.8em;
    padding: 0 2rem;
    color: #2e2e2e;
    margin-bottom:1rem;
  }

  .containerLogin h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    padding: 0 2rem;
    color: #2e2e2e;
    margin-bottom:1rem;
  }

  .form-login input{
    background-color: #dfdddd;
    border-bottom: 1px solid #717174;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.7em;
    padding: 5px 0;
    margin: 0 0 15px 0 ;
    width: 100%;
   
    }

    .form-login input{
      border-bottom: 1px solid #717174;
    }
    
    .form-login input:focus-visible{
    border-bottom: 2px solid  #c06f0b;
    background-color: #dfdddd;
  }

  p.erro{
    padding: 8px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.6em;
    font-style: italic; 
    color: #e72c0f;

  }

  containerLogin, label{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 0.8em;
    padding: 5px 0;
    margin:15px 0px;
    color: #2e2e2e;
  }

  .containerLogin a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 0.7em;
    padding: 5px 0;
    margin:15px 0px;
    color: #2e2e2e;
    cursor: pointer;
  }

  .containerLogin a:hover{
    text-decoration: underline;
    font-style: italic;
  }

  .containerLogin p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 0.7em;
    padding: 5px 0;
    margin:15px 0px;
    color: #2e2e2e;
  }
