.ContainerSectionPagamento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    text-align: center;
    padding: 3%;
    border-radius: 8px;
    width: 400px;
}

.ContainerSectionPagamento h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.4em;
    padding: 0 2rem;
    color: #212a4e;
    margin-bottom: 1rem;
}

.ContainerSectionPagamento h3{
    font-family: 'Roboto';
    font-size: 1.2em;
    font-weight: bold;
    color: #212a4e;
    margin-bottom: 5%;
}

/* background-color: #4d5576; */    
.ContainerSectionPagamento h4{
    font-family: 'Roboto';
    font-size: 0.9em;
    font-weight: 500;
    color: #050618;
    background-color: #efe845;
    margin-bottom: 3%;
    padding: 1%;    
    border-radius: 5px 5px 0 0;
    }

.ContainerSectionPagamento p{
    font-family: 'montserrat';
    font-size: 0.8em;
    font-weight: 500;
    color: #2e2e2e;
    }
.ContainerSectionPagamento div{
    margin: 3%;
    padding: 1%;
    background-color: #fff;
    width: -webkit-fill-available;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.05);
}


