h2{
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 180px;
    margin: 0px;
}
button{
    margin-top: 20px;
    background-color: grey;
    width: 70px;
    margin-left: 50px;
}
