


table {
  background-color: #f2f2f2;

}

.Tabelas {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.Tabelas, th {
  background: #ccc;
  align-items: center;
  padding: 8px;;
}

.Tabelas, td {
  align-items: center;
  background: #fff;
  padding: 8px;
}

.vencido {
  color: #e72c0f;;
}